langchain
langchain-community
langchain-openai
langchain-mistralai
langchain-text-splitters
langgraph
libmagic
unstructured
faiss-cpu
langchain-postgres
langchain-tavily
jupyterlab
ipywidgets
mistralai
torch
matplotlib
scipy
scikit-learn
tensorflow_hub
seaborn
transformers
psycopg2


