langchain==0.3.27
langchain-community==0.3.31
langchain-openai==0.3.35
langchain-mistralai==0.2.12
langchain-text-splitters==0.3.11
langchain-postgres==0.0.16
langchain-tavily==0.2.12
langgraph==0.6.8
libmagic==1.0
unstructured==0.18.15
faiss-cpu==1.12.0
jupyterlab
ipywidgets
mistralai
torch
matplotlib
scipy
scikit-learn
tensorflow_hub
seaborn
transformers
psycopg2


